<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Send photos to help resolve app issues</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Clane Dev</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.clanedev.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>test.link.cla.ne/</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a3d83a66d1d24086ede9d3971bef3371c101af13</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
		<string>fontello.woff</string>
		<string>fontello.woff2</string>
		<string>icomoon.ttf</string>
		<string>icomoon.woff</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>clane-icons.ttf</string>
		<string>clane-icons.woff</string>
		<string>clane-icons.woff2</string>
		<string>ClaneAkkuratTT-Light.ttf</string>
		<string>ClaneLetteraTextTT-Black.ttf</string>
		<string>ClaneLetteraTextTT-Bold.ttf</string>
		<string>ClaneLetteraTextTT-ExtraBold.ttf</string>
		<string>ClaneLetteraTextTT-Regular.ttf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-BoldItalic.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
		<string>SFCompactDisplay-Black.otf</string>
		<string>SFCompactDisplay-Bold.otf</string>
		<string>SFCompactDisplay-Heavy.otf</string>
		<string>SFCompactDisplay-Light.otf</string>
		<string>SFCompactDisplay-Medium.otf</string>
		<string>SFCompactDisplay-Regular.otf</string>
		<string>SFCompactDisplay-Semibold.otf</string>
		<string>SFCompactDisplay-Thin.otf</string>
		<string>SFCompactDisplay-Ultralight.otf</string>
		<string>SFCompactText-Bold.otf</string>
		<string>SFCompactText-BoldItalic.otf</string>
		<string>SFCompactText-Heavy.otf</string>
		<string>SFCompactText-HeavyItalic.otf</string>
		<string>SFCompactText-Light.otf</string>
		<string>SFCompactText-LightItalic.otf</string>
		<string>SFCompactText-Medium.otf</string>
		<string>SFCompactText-MediumItalic.otf</string>
		<string>SFCompactText-Regular.otf</string>
		<string>SFCompactText-RegularItalic.otf</string>
		<string>SFCompactText-Semibold.otf</string>
		<string>SFCompactText-SemiboldItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>test.link.cla.ne</string>
	<key>branch_key</key>
	<string>key_test_ngPdDumeGNMI1z0hVkr7MdpctxjAhDqR</string>
	<key>firebase_crash_collection_enabled</key>
	<true/>
</dict>
</plist>
